/* Form styles */
.wt-form {
    display: flex;
    justify-content: center;
    align-items: center;
}
.wt-form-element {
    margin: 10px;
}
.wt-form-label {
    display: block;
}
.wt-form-input {
    display: block;
}
.wt-form-button {}

.wt-watch-container {
    width: 600px;
    margin: 0 auto;
    display: flex;
    border: 1px gray solid;
}
